.nav_list {
  display: flex;
  flex-direction: column;
}

.pro-content {
  width: 100%;
  border-radius: 10px;
  border: 1px solid;
}

.photo {
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

.tab {
  display: flex;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background: #ededed;
  padding: 10px 10px 0px;
  gap: 4px;
}

.list {
  padding: 15px 20px;
  font-size: 1.4rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 3px;
}

.list:hover {
  cursor: pointer;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.row-2 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
}

@media only screen and (max-width: 560px) {
  .row-2 {
    flex-direction: column;
  }
}
