.products {
  background: white;
  border-radius: 10px;
  box-shadow: 0 20px 69px 31px rgb(0 0 0 / 0.15);
  padding: 30px 20px;
  grid-column: span 1 / span 1;
}

.product {
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
}

.product-card {
  background-color: white;
  border-radius: 16px;
  padding: 20px;
}

/* .grid-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  background-color: #fff;
  gap: 20px;
} */

.grid-container {
  display: grid;
  background-color: #fff;
  gap: 20px;
}

.description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 170px !important;
}

.product_detail_card {
  background: white;
  border-radius: 16px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.product_detail {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.product_image {
  width: 300px;
  height: 300px;
}

.product_header {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

@media only screen and (min-width: 775px) {
  .product_detail {
    flex-direction: row;
  }
}

@media only screen and (max-width: 320px) {
  .product_image {
    width: 100%;
  }
}

@media only screen and (min-width: 1250px) {
  .product_input,
  .product_select {
    height: 37px !important;
    width: 350px !important;
  }
}

@media only screen and (min-width: 1250px) {
  .product_header {
    flex-direction: row;
  }
}

@media only screen and (min-width: 500px) {
  .grid-container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media only screen and (max-width: 320px) {
  .grid-container {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

@media only screen and (min-width: 980px) {
  .grid-container {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media only screen and (min-width: 1480px) {
  .grid-container {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media only screen and (min-width: 1670px) {
  .grid-container {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}
