.nav_header {
  display: flex !important;
  justify-content: space-between;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  display: block;
  height: max-content;
  border: solid rgba(255, 255, 255, 0.8);
  background-color: rgba(255, 255, 255, 0.8);
  /* padding: 5px 10px; */
  color: #ffffff;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 2px 0px rgba(0, 0, 0, 0.14),
    0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  backdrop-filter: blur(2px) saturate(200%);
}

@media (min-width: 1024px) {
  .nav_header {
    padding-top: 1rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
  }
}
