.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  text-align: center;
  width: 100vw;
}

.title {
  font-weight: bold;
  font-size: 2em;
  color: #333;
  margin-bottom: 4px;
}

.text {
  font-weight: 600;
  font-size: 1.5em;
  color: #888;
  margin-bottom: 7px;
}

.illustration {
  display: flex;
  justify-content: center;
  margin-bottom: 3px;
}

.illustration img {
  max-width: 100%;
  max-height: 300px;
}

.link {
  margin-bottom: 0;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
  color: #fff;
  background-color: #d4b65e;
  border-color: #d4b65e;
}
